[submodule "vendor/emacs/org/org-rifle"]
	path = vendor/emacs/org/org-rifle
	url = https://github.com/alphapapa/org-rifle
[submodule "vendor/emacs/org/org-ql"]
	path = vendor/emacs/org/org-ql
	url = https://github.com/alphapapa/org-ql
[submodule "vendor/streamlit-hackathon"]
	path = vendor/hackathons/streamlit
	url = https://github.com/meta-introspector/https-streamlit.io-community-llm-hackathon-2023
[submodule "vendor/emacs/Elsa"]
	path = vendor/emacs/Elsa
	url = https://github.com/meta-introspector/Elsa
[submodule "vendor/emacs/elpy"]
	path = vendor/emacs/elpy
	url = https://github.com/jmikedupont2/elpy
[submodule "vendor/apache/arrow"]
	path = vendor/apache/arrow
	url = https://github.com/apache/arrow.git
[submodule "vendor/emacs/packaging/straight.el"]
	path = vendor/emacs/packaging/straight.el
	url = https://github.com/radian-software/straight.el
[submodule "vendor/emacs/ob-dsq"]
	path = vendor/emacs/ob-dsq
	url = https://github.com/fritzgrabo/ob-dsq
[submodule "vendor/tools/dsq"]
	path = vendor/tools/dsq
	url = https://github.com/multiprocessio/dsq
[submodule "vendor/tools/duckdb"]
	path = vendor/tools/duckdb
	url = https://github.com/duckdb/duckdb
[submodule "vendor/tools/glaredb"]
	path = vendor/tools/glaredb
	url = https://github.com/GlareDB/glaredb
[submodule "vendor/tools/burn"]
	path = vendor/tools/burn
	url = https://github.com/burn-rs/burn
[submodule "vendor/emacs/modes/rust-mode"]
	path = vendor/emacs/modes/rust-mode
	url = https://github.com/rust-lang/rust-mode.git/
[submodule "vendor/emacs/packaging/eask"]
	path = vendor/emacs/packaging/eask
	url = https://github.com/emacs-eask/eask
[submodule "vendor/emacs/packaging/eask-mode"]
	path = vendor/emacs/packaging/eask-mode
	url = https://github.com/emacs-eask/eask-mode
[submodule "vendor/emacs/packaging/cli"]
	path = vendor/emacs/packaging/cli
	url = https://github.com/emacs-eask/cli
[submodule "vendor/emacs/lsp/emacs-ccls"]
	path = vendor/emacs/lsp/emacs-ccls
	url = https://github.com/emacs-lsp/emacs-ccls
[submodule "vendor/emacs/lsp/ccls"]
	path = vendor/emacs/lsp/ccls
	url = https://github.com/MaskRay/ccls
[submodule "vendor/emacs/org/org-wiki"]
	path = vendor/emacs/org/org-wiki
	url = https://github.com/caiorss/org-wiki
[submodule "vendor/emacs/org/org-index"]
	path = vendor/emacs/org/org-index
	url = https://github.com/marcIhm/org-index
[submodule "vendor/emacs/org/org-roam"]
	path = vendor/emacs/org/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "vendor/emacs/packaging/org-roam"]
	path = vendor/emacs/packaging/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "vendor/emacs/packaging/eldev"]
	path = vendor/emacs/packaging/eldev
	url = https://github.com/emacs-eldev/eldev
[submodule "vendor/emacs/org/orger"]
	path = vendor/emacs/org/orger
	url = https://github.com/karlicoss/orger
[submodule "vendor/emacs/org/microfts"]
	path = vendor/emacs/org/microfts
	url = https://github.com/zot/microfts
[submodule "vendor/emacs/llm/ollama"]
	path = vendor/emacs/llm/ollama
	url = https://github.com/meta-introspector/ollama-emacs
