[submodule "vendor/emacs/org/org-rifle"]
	path = vendor/emacs/org/org-rifle
	url = https://github.com/alphapapa/org-rifle
[submodule "vendor/emacs/org/org-ql"]
	path = vendor/emacs/org/org-ql
	url = https://github.com/alphapapa/org-ql
[submodule "vendor/streamlit-hackathon"]
	path = vendor/hackathons/streamlit
	url = https://github.com/meta-introspector/https-streamlit.io-community-llm-hackathon-2023
[submodule "vendor/emacs/Elsa"]
	path = vendor/emacs/Elsa
	url = https://github.com/meta-introspector/Elsa
[submodule "vendor/emacs/elpy"]
	path = vendor/emacs/elpy
	url = https://github.com/jmikedupont2/elpy
[submodule "vendor/apache/arrow"]
	path = vendor/apache/arrow
	url = https://github.com/apache/arrow.git
[submodule "vendor/emacs/packaging/straight.el"]
	path = vendor/emacs/packaging/straight.el
	url = https://github.com/radian-software/straight.el
[submodule "vendor/emacs/ob-dsq"]
	path = vendor/emacs/ob-dsq
	url = https://github.com/fritzgrabo/ob-dsq
[submodule "vendor/tools/dsq"]
	path = vendor/tools/dsq
	url = https://github.com/multiprocessio/dsq
[submodule "vendor/tools/duckdb"]
	path = vendor/tools/duckdb
	url = https://github.com/duckdb/duckdb
[submodule "vendor/tools/glaredb"]
	path = vendor/tools/glaredb
	url = https://github.com/GlareDB/glaredb
